! ==== Dracula Xresources palette ====
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
URxvt*depth: 32
URxvt*background: rgba:2800/2A00/3600/C400

! ===== URxvt ====
! copy and paste $XA_CLIPBOARD
URxvt*clipboard.copycmd:  xclip -in -sel clip
URxvt*clipboard.pastecmd: xclip -out -sel clip

! general
URxvt.scrollBar: false
URxvt.geometry: 80x24
URxvt.font: xft:xos4 Terminus:size=12
URxvt.keysym.C-M-1: command:\033]50;-xos4-terminus-medium-r-normal-*-12-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-2: command:\033]50;-xos4-terminus-medium-r-normal-*-14-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-3: command:\033]50;-xos4-terminus-medium-r-normal-*-18-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-4: command:\033]50;-xos4-terminus-medium-r-normal-*-22-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-5: command:\033]50;-xos4-terminus-medium-r-normal-*-24-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-6: command:\033]50;-xos4-terminus-medium-r-normal-*-28-*-*-*-*-*-*-*\007
URxvt.keysym.C-M-7: command:\033]50;-xos4-terminus-medium-r-normal-*-32-*-*-*-*-*-*-*\007

! clipboard
! update clipboard whenever primary gets updated
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

! extensions
URxvt*perl-lib: 	$HOME/.urxvt/perl
URxvt*perl-ext-common: default,matcher,clipboard,keyboard-select,url-select,resize-font
URxvt*charClass:		33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
URxvt*url-select.launcher:  firefox
URxvt*url-select.underline: true
URxvt*url-select.autocopy:  true
URxvt*url-select.button:    1
URxvt*matcher.button: 	    1
URxvt*keysym.M-u: 	perl:url-select:select_next
URxvt*keysym.M-c: 	perl:clipboard:copy
URxvt**keysym.M-v: 	perl:clipboard:paste
URxvt*keysym.M-Up: 	perl:font-size:increase
URxvt*keysym.M-Down: 	perl:font-size:decrease
URxvt*keysym.M-C-Up: 	perl:font-size:incglobal
URxvt*keysym.M-C-Down: 	perl:font-size:decglobal
URxvt*keysym.M-equal: 	perl:font-size:reset
URxvt*keysym.M-slash: 	perl:font-size:show
URxvt*keysym.M-a: 	perl:keyboard-select:activate
URxvt*keysym.M-s: 	perl:keyboard-select:search
URxvt*tabbed.new-button: false
URxvt*tabbed.tabbar-fg: 7
URxvt*tabbed.tabbar-bg: 0
URxvt*tabbed.tab-fg: 	7
URxvt*tabbed.tab-bg: 	5
URxvt*tabbed.tabcmds.1: N|mksh
URxvt*tabbed.tabcmds.2: R|root|su -
URxvt*tabbed.tabcmds.3: F|nnn|nnn
URxvt*tabbed.tabcmds.4: E|vi|vi
URxvt*tabbed.tabcmds.5: M|mutt|neomutt
URxvt*tabbed.tabcmds.6: H|htop|htop
URxvt*session: 		N

! Xclock colors.
XClock*foreground: #6D6168
XClock*background: #fefefe
XClock*majorColor:  rgba:6d/61/68/ff
XClock*minorColor:  rgba:6d/61/68/ff
XClock*hourColor:   rgba:6d/61/68/ff
XClock*minuteColor: rgba:6d/61/68/ff
XClock*secondColor: rgba:6d/61/68/ff
